automation/workflows/lead-pipeline.json
{
  "name": "AI Lead Intelligence Pipeline",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "lead-intake", "responseMode": "responseNode", "options": {} },
      "id": "node-webhook", "name": "Lead Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={ \"model\": \"llama-3.3-70b-versatile\", \"temperature\": 0.1, \"response_format\": { \"type\": \"json_object\" }, \"messages\": [{ \"role\": \"system\", \"content\": \"You are a lead qualification expert. Return ONLY valid JSON: {intent: BUY|RENT|INQUIRE|CONSULT|OTHER, budget: string|null, location: string|null, timeline: string|null, priority: HIGH|MEDIUM|LOW, confidence: 0.0-1.0, ai_summary: max 120 chars}. Priority: HIGH=clear budget+timeline+intent.\" }, { \"role\": \"user\", \"content\": \"Lead message: {{ $json.message }}\" }] }"
      },
      "id": "node-ai", "name": "Groq AI Scorer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
          { "name": "name",       "value": "={{ $('Lead Webhook').item.json.name }}",       "type": "string" },
          { "name": "email",      "value": "={{ $('Lead Webhook').item.json.email }}",      "type": "string" },
          { "name": "message",    "value": "={{ $('Lead Webhook').item.json.message }}",    "type": "string" },
          { "name": "source",     "value": "={{ $('Lead Webhook').item.json.source }}",     "type": "string" },
          { "name": "intent",     "value": "={{ JSON.parse($json.choices[0].message.content).intent }}",     "type": "string" },
          { "name": "budget",     "value": "={{ JSON.parse($json.choices[0].message.content).budget }}",     "type": "string" },
          { "name": "location",   "value": "={{ JSON.parse($json.choices[0].message.content).location }}",   "type": "string" },
          { "name": "timeline",   "value": "={{ JSON.parse($json.choices[0].message.content).timeline }}",   "type": "string" },
          { "name": "priority",   "value": "={{ JSON.parse($json.choices[0].message.content).priority }}",   "type": "string" },
          { "name": "confidence", "value": "={{ JSON.parse($json.choices[0].message.content).confidence }}", "type": "number" },
          { "name": "ai_summary", "value": "={{ JSON.parse($json.choices[0].message.content).ai_summary }}", "type": "string" }
        ]}
      },
      "id": "node-map", "name": "Map Lead Fields", "type": "n8n-nodes-base.set", "typeVersion": 3.3, "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "={{ $env.BACKEND_URL }}/api/webhook/lead",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Content-Type", "value": "application/json" },
          { "name": "x-webhook-secret", "value": "={{ $env.WEBHOOK_SECRET }}" }
        ]},
        "sendBody": true, "contentType": "json",
        "bodyParameters": { "parameters": [
          { "name": "name",       "value": "={{ $json.name }}" },
          { "name": "email",      "value": "={{ $json.email }}" },
          { "name": "message",    "value": "={{ $json.message }}" },
          { "name": "source",     "value": "={{ $json.source }}" },
          { "name": "intent",     "value": "={{ $json.intent }}" },
          { "name": "budget",     "value": "={{ $json.budget }}" },
          { "name": "location",   "value": "={{ $json.location }}" },
          { "name": "timeline",   "value": "={{ $json.timeline }}" },
          { "name": "priority",   "value": "={{ $json.priority }}" },
          { "name": "confidence", "value": "={{ $json.confidence }}" },
          { "name": "ai_summary", "value": "={{ $json.ai_summary }}" }
        ]}
      },
      "id": "node-save", "name": "Save to Backend", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": true }, "conditions": [
          { "leftValue": "={{ $('Map Lead Fields').item.json.priority }}", "rightValue": "HIGH", "operator": { "type": "string", "operation": "equals" } }
        ]}
      },
      "id": "node-if", "name": "High Priority?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST", "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true, "contentType": "json",
        "bodyParameters": { "parameters": [
          { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
          { "name": "text", "value": "=🔴 NEW HIGH PRIORITY LEAD\n\n👤 Name: {{ $('Map Lead Fields').item.json.name }}\n📧 Email: {{ $('Map Lead Fields').item.json.email }}\n🌍 Source: {{ $('Map Lead Fields').item.json.source }}\n\n💬 Message: {{ $('Map Lead Fields').item.json.message }}\n\n🤖 AI Analysis:\n   Intent: {{ $('Map Lead Fields').item.json.intent }}\n   Budget: {{ $('Map Lead Fields').item.json.budget }}\n   Location: {{ $('Map Lead Fields').item.json.location }}\n\n📝 {{ $('Map Lead Fields').item.json.ai_summary }}" }
        ]}
      },
      "id": "node-telegram", "name": "Telegram Alert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1340, 180]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={ \"success\": true }" },
      "id": "node-respond", "name": "Respond OK", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1, "position": [1340, 420]
    }
  ],
  "connections": {
    "Lead Webhook":    { "main": [[{ "node": "Groq AI Scorer",  "type": "main", "index": 0 }]] },
    "Groq AI Scorer":  { "main": [[{ "node": "Map Lead Fields", "type": "main", "index": 0 }]] },
    "Map Lead Fields": { "main": [[{ "node": "Save to Backend", "type": "main", "index": 0 }]] },
    "Save to Backend": { "main": [[{ "node": "High Priority?",  "type": "main", "index": 0 }]] },
    "High Priority?":  { "main": [
      [{ "node": "Telegram Alert", "type": "main", "index": 0 }],
      [{ "node": "Respond OK",     "type": "main", "index": 0 }]
    ]},
    "Telegram Alert":  { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
